
  .container {
    min-height: 100vh;
    width: 100vw;
    text-align: center;
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    font-size: 24px;
    flex-direction: column;
  }

  .img-bg {
    width: 100%;
    height: auto; /* Maintain aspect ratio based on width */
    display: block; /* Remove any extra space below inline elements */
  }

  .home-page{
    position: absolute;
    width: 100%;
  }

  .scorm-header {
    width: 100%;
    position: relative;
  }

  .scorm-content {
    width: 100%;
    position: relative;

  }

  .scorm-footer {
    width: 100%;
    position: relative;
  }

  .header-text {
    /* font-size: 3.5vw; */
    position: absolute;
    /* right: 8vw; */
    z-index: 1;
    /* top: 1.8vw; */
    color: #2C4B56;
    font-weight: 600;
    font-family: monospace;
}

.home-btn {
  /* width: 5vw; */
  /* height: 5vw; */
  position: absolute;
  z-index: 1;
  /* right: 1vw; */
  /* top: 1.2vw; */
}

.content {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  top: 0;
  flex-direction: column;
  align-items: center;
}

/* .laptop {
  width: 25vw;
  height: 20vw;
  padding-top: 10vw;
} */

img.laptop-screen {
  /* width: 19vw; */
  /* height: 13vw; */
  position: absolute;
  /* top: 11vw; */
  opacity: .5;
}

.banner{
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(217,241,240,1) 7%, rgba(217,241,240,1) 93%, rgba(255,255,255,0) 100%);
  width: 100%;
  color:#0C5366;
  font-family: monospace;
  /* font-size: 4vw; */
  font-weight: 600;
  /* padding: 1vw; */
  /* margin: 1vw; */
  text-align: center;
}

.desc {
  color: #156071;
  font-weight: 400;
  /* font-size: 2.4vw; */
  font-family: system-ui;
}

/* img.footer-btn {
  height: 4.5vw;
  width: 4.5vw;
} */

.btn-container {
  display: flex;
  flex-direction: row;
  /* right: 1vw;
  top: 1vw;
  gap: 1vw; */
  position: absolute;
}

.paginate-text {
  /* font-size: 2.5vw; */
  color: #fff;
  /* margin: 0 1vw; */
  font-family: system-ui;
  font-weight: 100;
  /* padding-top: 0.8vw; */
}

#questionnaire{
  display: none;
}

#scoreScreen{
  display: none;
}

#homePage{
  display: none;
}

.questionnaire-bg {
  width: 100%;
  height: 100%;
  position: relative;
}

.question-banner {
  background: linear-gradient(90deg, rgba(52,133,149,1) 0%, rgba(52,133,149,0.7973783263305322) 45%, rgba(255,255,255,0) 75%);
  position: absolute;
  width: 100%;
  display: flex;
  top: 0;
  /* font-size: 2vw; */
  /* padding: 0.6vw 1.2vw; */
  font-family: monospace;
  color: #fff;
  z-index: 20;
}

.card {
  position: absolute;
  top: 0;
  width: 97%;
  background: #fff;
  height: 97%;
  border-radius: 1.5vw;
  opacity: 0.8;
  z-index: 10;
  margin: 1.5%;
}

.instructions {
  /* font-size: 1.55vw; */
  font-family: system-ui;
  color: #2C4B56;
  position: absolute;
  z-index: 11;
  width: 98%;
  padding: 3% 1%;
}

.question-card {
  position: absolute;
  z-index: 11;
  top: 15%;
  width: 86%;
  margin: 0 7%;
}

.question{
  background: #2C4B56;
  color: #fff;
  /* font-size: 2.5vw; */
  font-family: tahoma;
  padding: 1%;
}

.play-button-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.play-button {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  cursor: pointer;
}

.play-triangle {
  width: 0;
  height: 0;
  border-left: 1.5vw solid transparent;
  border-right: 1.5vw solid transparent;
  border-top: 2.5vw solid white;
  transform: rotate(270deg);
}

.play-triangle-saved {
  width: 0;
  height: 0;
  border-left: 1.5vw solid transparent;
  border-right: 1.5vw solid transparent;
  border-top: 2.5vw solid gray;
  transform: rotate(270deg);
}

.play-button-saved {
  width: 25vw;
  height: 10vw;
  border-radius: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  cursor: pointer;
  background-color: white;
}

div#playSlide {
  flex: 1;
  background-color: black;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  transform: translate(-50%, -50%);
  position: fixed;
  top: 50%;
  left: 50%;
  display: none;
}
div#playSlideSaved {
  flex: 1;
  background-color: black;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  transform: translate(-50%, -50%);
  position: fixed;
  top: 50%;
  left: 50%;
  display: none;
}

.scorm-title {
  width: 100%;
  text-align: center;
  top: 23%;
  position: absolute;
  /* font-size: 2vw; */
  font-family: tahoma;
  color: white;
}
.reload-section {
  width: 100%;
  text-align: center;
  bottom: 23%;
  position: absolute;
  /* font-size: 2vw; */
  font-family: tahoma;
  color: white;
}

div#choices {
  padding: 1% 2.5%;
}

.option {
  cursor: pointer;
  border-radius: 1vw;
  padding: 2%;
  font-size: 2vw;
  font-family: tahoma;
  justify-content: flex-start;
  display: flex;
  color: #2C4B56;
}

.option:hover {
  background-color: lightskyblue;
}
.radio-button {
  margin-right: 2%;
  width: 2vw;
  height: 2vw;
}

.btn-submit {
  position: relative;
  width: 10%;
  border-radius: 0;
  border: 0px;
  background-color: #2c4b56;
  color: white;
  /* font-size: 1.5vw; */
}

.btn-submit-container {
  width: 100%;
  position: absolute;
  z-index: 20;
  bottom: 5%;
  height: 5%;
  display: flex;
  justify-content: center;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8); /* Adjust the alpha value for transparency */
  z-index: 999; /* Make sure the backdrop is on top of other elements */
  display: none; /* Initially hide the backdrop */
}

/* Optional: Style for a modal (centered in the screen) */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1.5%;
  z-index: 1000; /* Make sure the modal is on top of the backdrop */
  display: none; /* Initially hide the modal */
  /* border-radius: 0.5vw; */
  width: 25%;
}

.solid {
  border-top: 0.1vw solid black;
}

.btn-modal-container{
  display: flex;
  width: 100%;
  /* height: 3vw;
  margin-top: 3vw; */
  justify-content: center;
}

.btn-modal {
  width: 25%;
  /* border-radius: 2vw; */
  border: 0.01vw solid black;
  background-color: white;
}

.modal-header{
  font-family: tahoma;
  /* font-size: 1.5vw; */
}

.modal-body{
  font-family: tahoma;
  /* font-size: 1.3vw; */
}

.option-label {
  pointer-events: none;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  justify-content: flex-end;
}

.final-slide-content {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 11;
}

.passed-card {
  width: 40%;
  height: 13%;
  display: flex;
  justify-content: center;
  background-color: #91CF50;
  /* background-color: #B70C12; */
  margin-top: 23%;
  z-index: 11;
}

.card-text {
  /* font-size: 6vw; */
  font-family: tahoma;
  font-weight: 800;
  color: white;
  align-self: center;
}

.remarks-text{
  font-family: tahoma;
  /* font-size: 3.5vw; */
  font-weight: 700;
  margin-top: 3%;
  color:#2c4b56;
  text-align: center  ;
}

div#remarksTextFailed{
  display: none;
}

.score-section {
    width: 50%;
}

.score-text {
  color: #2c4b56;
  font-weight: 500;
  font-family: tahoma;
  margin: 5% 0;
  /* font-size: 2.5vw; */
}

.btn-end {
  width: 10%;
  height: 7%;
  font-family: tahoma;
  border: 0;
  background-color: #2c4b56;
  color: white;
  margin-top: 2%;
}

.final-instruction-text {
  color: #2c4b56;
  font-family: tahoma;
  /* font-size: 2.5vw; */
  margin: 4% 0;
}

.txtResume {
  margin-left: 2vw;
  font-family: tahoma;
}

